VITE_FIREBASE_API_KEY=AIzaSyBLYlE7NNeNV7-H4mKN7ekZG2GQ54JlZTY
VITE_FIREBASE_AUTH_DOMAIN=veda-b2b38.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=veda-b2b38
VITE_FIREBASE_STORAGE_BUCKET=veda-b2b38.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1001587333922
VITE_FIREBASE_APP_ID=1:1001587333922:web:4c75cd2b2439a9dbc0a37b
VITE_FIREBASE_MEASUREMENT_ID=G-RE24EK0SFH
